<%= render partial: "search_form" %>
<div class="row">
  <div class="col-md-4 col-md-offset-3 col-xs-12">
    <% message = @total_num > 0 ? "#{@total_num}件見つかりました" : "検索結果がありません" %>
    <%= message %>
  </div>
</div>
<% @movies.each do |movie| %>
  <div class="row">
    <div class="col-md-2 col-md-offset-3 col-xs-4 contents contents_thumbnail">
      <img src="<%= movie.thumbnail %>"/>
    </div>
    <div class="col-md-4 col-xs-8 contents contents_info">
      <div>
        <a href="<%= movie.url %>"><%= movie.title %></a>
      </div>
      <%# <% case movie.scope %>
      <%# <% when '0' %>
      <%#   <span class="label label-danger">全員</span>
      <%# <% when '1' %>
      <%#   <span class="label label-primary">有料会員</span>
      <%# <% when '2' %>
      <%#   <span class="label label-warning">販売</span>
      <%# <% end %>
      <div>
        <% playtime = movie.playtime.divmod(60) %>
        <% min_zero = playtime[0] < 10 ? "0" : "" %>
        <% sec_zero = playtime[1] < 10 ? "0" : "" %>
        時間：<%= "#{min_zero}#{playtime[0]}:#{sec_zero}#{playtime[1]}" %>
      </div>
      <div>
        再生数：<%= movie.playcount %>
    </div>
      <div>
        アルバム追加数：<%= movie.albumcount %>
    </div>
      <div>
        コメント数：<%= movie.commentcount %>
    </div>
      <div>
        ユーザ：<%= movie.user %>
    </div>
    </div>
  </div>
<% end %>
</div>
<% if @total_num > 0 then %>
  <%= render partial: "pagination" %>
<% end %>
